/*
@page{size:auto; margin:0;}

.bodyclass {
    margin: auto;
    font-size:small;
}
*/

html {
  font-size: 14px;
}


.grid-table-stuff table {
    border-collapse: collapse;
    /*table-layout:fixed;*/
    width: 100% !important;
    min-width: 600px;
}

.grid-table-stuff th, td {
    border: 1px solid lightgrey;
    word-break: keep-all;

}

.grid-card-header {
    height:10px;


}

/*
h1 {
    font-size: 200%;
}


h2 {
    font-size: 150%;
}

h3 {
    font-size: 117%;
}

 h4 {
    font-size: 100%;
}

h5 {
    font-size: 83%;
}

h6 {
    font-size: 67;
}

input {
  font-size:small;  
}


.form-control  {
    font-size:small;
}



select.form-control:not([size]):not([multiple])
				   {height:2.2rem}

select {
    font-size:small;
}

*/


.card-title {
   font-size:120%;
}



.btn {
    font-size:small;
}
/*
    10px = 0.625rem
    12px = 0.75rem
    14px = 0.875rem
    16px = 1rem (base)
    18px = 1.125rem
    20px = 1.25rem
    24px = 1.5rem
    30px = 1.875rem
    32px = 2rem
*/


//Gutters

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;

  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.truncate-fix {
    min-width: 0;
}


.long-and-truncated {
  flex: 1;
  &, & > * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.auto-complete {

}

.auto-complete-text {

}

.auto-list {

}

.auto-complete-menu {
    z-index: 1070;
    position:absolute;
    top:30px;
    over-flow:scroll;
}

.auto-list span:hover {
    background-color: #007bff !important;
}

.file-preview-thumbnails {
    height: 300px;
}


.file-drop-zone {
    height: 300px;

}

.report table,tr,td,span {
    font-size: 12px;
}
